@page "/"
@inject ILogger<Home> Logger
@inject LoggingRequestIdProvider RequestId
@inject SampleService SampleService
@inject SerilogQuery Query

<PageTitle>Serilog Viewer</PageTitle>
<button @onclick="LogThis">Log Me</button>

<hr />

<SearchBar @rendermode="InteractiveServer" SearchExecuted="OnSearchExecuted" />
<SerilogGrid Entries="@entries" @rendermode="InteractiveServer" />

@code {
	private IEnumerable<SerilogEntry> entries = [];

	private void LogThis()
	{
		// attach an id to all logging in this method
		Logger.BeginRequestId(RequestId);

		Logger.LogInformation("This is an info log message");

		Logger.LogDebug("This is a debug message");

		// logs from this method call will be correlated with requestId in scope here
		SampleService.DoWork();
	}

	override protected async Task OnInitializedAsync()
	{
		entries = await Query.ExecuteAsync();
	}	

	private async Task OnSearchExecuted(IEnumerable<SerilogEntry> results)
	{
		entries = results;	
	}
}